%div.container
  %div.navbar.col-s-12.example
    %ul
      %li= image_tag('logo_temp.svg')
      %li= link_to('Login', {})
  %div.content.col-s-12
    = image_tag 'coffees.svg'
    %hr/
    %p Un café es un abrazo atrapado en una taza
    %hr/
    %p.desc Recibe aprecio y gratitud
    %p.desc mediante donaciones online
    %hr/
    %hr.half/
    %a.button(href="https://google.com") Crear mi perfil
  %div.footer.col-s-12
    %p Un perfil dedicado a recibir agradecimientos
    %p Puedes crear una página en minutos sin conocimientos técnicos. Muestra tus datos y agradecimientos recibidos de otras personas.