// Place all the styles related to the My_Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background-color: #F4F6F8;
}

.admin-container {
  display: flex;
  flex-direction: column;
}

.admin-navbar{
  display: flex;
  flex-direction: row;
  background-color: #EA5F91;
  min-height: 56px;
  color: white;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29%;
    // margin-left: -30px;
    background-color: #EE4380;
    img {
      width: 60px;
    }
  }
  .bar {
    display: flex;
    text-align: center;
    width: 100%;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    // padding-right: 5px;
    input {
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 5px;
      background-color: #F67DA8;
      border-style: none;
      width: 80%;
      margin-right: 20px;
    }
  }
}

.admin-view{
  display: flex;
  flex-direction: row;
  .admin-sidebar{
    background-color: #F4F6F8;
    color: #212B35;
    width: 30%;
    margin-right: 30px;
    border-style: solid;
    border-color: #DFE4E8;
    border-width: 1px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    li {
      font-family: roboto-medium;
      font-size: 14.5px;
      padding: 10px;
      a {
        color: #212B35;
        text-decoration: none;
      }
      img {
        width: 17px;
        height: 18px;
        float: left;
        padding-left: 7.5px;
        padding-right: 12.5px;
        filter: grayscale(100%);
      }
      &:hover, &.selected {
        a {
          color: #EE4380
        }
        img {
          filter: grayscale(0%)
        }
      }
    }
  }
  .admin-content{
    flex-direction: column;
    background-color: #F4F6F8;
    color: #212B35;
    width: 100%;
    .header {
      h1 {
        padding-top: 42px;
        padding-bottom: 18px;
        font-family: roboto-medium;
        font-size: 29px;
        font-weight: normal;
      }
      a.returnbtn {
        font-family: roboto;
        font-size: 16px;
        color: #566073;
        text-decoration: none;
        float: left;
        margin-top: 17px;
        font-weight: inherit;
      }
      img {
        margin-top: 20px;
        float: left;
        padding-right: 10px;
      }
    }
    .info {
      display: flex;
      flex-direction: row;
    }
    .footer {
      padding: 0px;
      background-color: transparent;
      .pinkbtn {
        margin-top: 15px;
        margin-bottom: 40px;
      }
    }
  }
}

div.card {
  margin-bottom: 40px;
  margin-right: 32px;
  padding-bottom: 30px;
  padding-right: 30px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
  width: 100%;
  &.bmargin {
    padding-bottom:10px;
  }
  &.transparent {
    background-color: transparent;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.0);
    margin-left: -30px;
    margin-right: 20px;
    min-width: 25%;
    max-width: 25%;
  }
  &:hover {
    // background-color: rgb(233, 238, 243);
  }
  .nested-section {
    display: flex;
    &.of-multipliers {
      flex-direction: row;
      justify-content: center;
      text-align: center;
      button, input {
        margin-left: 10px;
        background-color: transparent;
        border-style: solid;
        border-color: #EE4380;
        border-width: 1px;
        font-family: happyMonkey;
        font-size: 16px;
        padding: 1px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 100%;
        text-align: center;
        max-width: 35px;
        &:hover {
          cursor: pointer;
          background-color: rgb(255, 236, 243);
        }
        &:active {
          background-color: #EE4380;
        }
      }
    }
  }
  .card-body {
    padding-left: 32px;
    // max-width: 100%;
    input {
      font-family: roboto-medium;
      padding: 5px;
      width: 100%;
      border-style: solid;
      border-radius: 4px;
      border-width: 1px;
      background-color: white;
      border-color: #C4CDD5;
    }
  }
  .card-header{
    display: flex;
    font-family: roboto;
    font-size: 16px;
    list-style-type: none;
    padding-left: 12px;
    border: #DFE3E8;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 1px;
    margin-bottom: 20px;
    .section {
      align-items: center;
      justify-content: center;
      padding: 7.5px;
      padding-top: 17.5px;
      padding-bottom: 17.5px;
      border: #EE4380;
      border-style: solid;
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }
  }
  .card-list {
    ul {
      display: flex;
      border: #DFE3E8;
      border-style: solid;
      border-width: 1px;
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
      padding-bottom: 20px;
      li {
        padding-top: 15px;
        list-style-type: none;
        font-family: roboto-regular;
        color: #9C9A9A;
        font-size: 15px;
        // max-width: 72.5%;
        min-width: 90%;
        max-width: 90%;
        &.nothingfound {
          margin-top: 10px;
          margin-bottom: -10px;
        }
      }
      p {
        font-family: roboto;
        font-size: 30px;
        position: absolute;
        margin-top: 25px;
        margin-left: 22px;
        color: rgb(195, 195, 195);
        background-color: rgb(195, 195, 195);
        border-radius: 10px;
        &.show {
          background-color: #EE4380;
          color: #EE4380;
        }
      }
      div.img img {
        margin-top: 15px;
        margin-left: 55px;
        margin-right: 16px;
        max-height: 50px;
        min-height: 50px;
        border-radius: 5px;
      }
    }
    .options {
      padding-top: 7px;
      margin-left: 0%;
      &.fixpos {
        position: absolute;
        margin-left: 65%;
      }
      &:hover {
        cursor: pointer;
        filter: brightness(120%);
        .options-content {
          z-index: 1;
          display: flex;
          flex-direction: column;
        }
      }
      .options-content {
        display: none;
        font-family: roboto;
        font-size: 14px;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
        left: -125px;
        padding-top: 7px;
        padding-bottom: 7px;
        a {
          text-decoration: none;
          color: black;
          padding-left: 10px;
          padding-top: 15px;
          padding-bottom: 15px;
          &:hover {
            background-color: rgb(196, 196, 196);
          }
          &:active {
            background-color: rgb(165, 165, 165);
          }
        }
        img {
          padding-left: 20px;
          float: left;
          position: relative;
          padding-right: 10px;
          padding-top: 4px;
        }
        span {
          padding-left: 10px;
          padding-top: 15px;
          padding-bottom: 15px;
          &:hover {
            background-color: rgb(196, 196, 196);
          }
          &:active {
            background-color: rgb(165, 165, 165);
          }
        }
      }
    }
  }
}

.card-title {
  font-family: roboto-medium;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.105px;
  color: #454F5B;
  padding-bottom: 3px;
  padding-top: 18px;
}

.card-text {
  font-family: roboto-medium;
  font-size: 11px;
  color: #9C9A9A;
  padding-bottom: 3px;
}

.card-img {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  filter: grayscale(100%);
}

.pinkbtn {
  margin-top: -60px;
  margin-right: 63px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  float: right;
  font-family: roboto-medium;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  border-style: none;
  background-color: #EE4380;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: rgb(246, 104, 154);
  }
  &:active {
    background-color: rgb(168, 50, 91);
  }
}

div.separator{
  margin-right: 32px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 1px;
  background:#DFE4E8;
  // border-bottom:1px solid #ececec;
}

.notice {
  color: rgb(241, 167, 81);
  font-size: 25px;
}

div.checkbox {
  display: flex;
  padding-top: 22px;
  font-family: roboto-medium;
  font-size: 14px;
  input[type=checkbox] {
    padding: 0px;
    margin-right: 10px;
    width: 0%;
  }
}

input[type='number'] {
  -moz-appearance:textfield;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 7.5px 7.5px;
  font-family: roboto-medium;
  padding: 5px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  background-color: white;
  border-color: #C4CDD5;
  font-size: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.lpadding {
  padding-left: 50px;
}

.rpad {
  padding-right: 30px; 
}