// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bootstrap {
  @import "bootstrap";
  #myCarousel {
    .carousel-indicators {
      li {
        margin-top: -37px;
        background-color: #afafafb0;
        &.active {
          background-color: rgba(121, 121, 121, 0.705);
        }
      }
    }
  }
}

.profile-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  font-family: roboto-regular;
  .profile-navbar {
    display: flex;
    flex-direction: row;
    min-height: 60px;
    max-height: 60px;
    width: 100%;
    background-color: white;
    z-index: 1;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,.3));
    .pavatar {
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .puser {
      width: 100%;
      align-items: center;
      margin-left: -5px;
      padding-top: 11px;
      h4 {
        font-family: roboto-bold;
        font-size: 16px;
        font-weight: normal;
      }
      p {
        margin-top: 2px; 
        font-family: roboto;
        font-size: 16px;
        color: #8F8F8F;
      }
    }
    .plogo {
      width: 30%;
      display: flex;
      align-items: center;
    }
  }
  .profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 26px;
    background-color: #F9FBFD;
    width: 100%;
    font-size: 14px;
    color: #363636;
    // min-height: 560px;
    .profile-description {
      padding-left: 25px;
      padding-right: 25px;
      font-family: roboto;
      .go-back {
        font-family: roboto;
        margin-top: -10px;
        margin-bottom: 7px;
        position: relative;
        left: -16%;
        &.to-profile {
          position: absolute;
          left: 8%
        }
        a {
          color: black;
          text-decoration: none;
          font-size: 13.5px;
        }
      }
    }
  }
  .profile-footer {
    padding-bottom: 12.5px;
    padding-top: 12.5px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color:  #EE4380;
    color: white;
    font-size: 18px;
    text-decoration: none;
    z-index: 1;
    &:hover {
      cursor: pointer;
    }
  }
  p.profile-minifooter {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-family: roboto;
    font-weight: thin;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.671);
    background-color: #EE4380;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.carousel {
  margin-top: 18px;
  text-align: center;
  max-width: 300px;
  min-width: 300px;
  .carousel-inner{
    width:100%;
    display: flex;
    justify-content: center; 
    padding-bottom: 50px;
    .img {
      max-height: 196px;
      min-height: 196px;
      max-width: 100%;
      min-width: 100%;
      margin: 0 auto;
      object-fit: contain;
      // object-fit: cover;
      border-radius: 5px;
      filter: drop-shadow(0px 0px 1px rgba(0,0,0,.3))
          drop-shadow(0px 0px 3px rgba(0,0,0,.3));
    }
  }
}

.carousel-caption {
  top: 93%;
  p {
    color: rgb(173, 173, 173);
    font-size: 12px;
    font-family: roboto-italic;
  }
}

.carousel-control-prev-icon{
  background-image: url('https://apufpel.com.br/assets/img/seta_prim.png')
}
.carousel-control-next-icon{
 background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')
}

#myCarousel {
  z-index: 1;
  margin-top: -20px;
}

.pcard {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  padding: 12px;
  padding-top: 11px;
  padding-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 1px rgba(61, 61, 61, 0.2))
  drop-shadow(0px 0px 2px rgba(109, 109, 109, 0.2));
  font-family: roboto;
  &.not {
    margin-bottom: 25px;
  }
  &.minheight {
    min-height: 155px;
  }
  .pcard-header {
    display: flex;
    .pcard-title {
      display: flex;
      flex-direction: column;
      font-family: roboto-bold;
      font-size: 16px;
      margin-bottom: 20px;
      p {
        margin: 0px;
        margin: 0px;
        &.subtitle {
          font-size: 13.5px;
          color: #8F8F8F;
          font-family: roboto;
        }
      }
      img {
        position: absolute;
        max-height: 40px;
        margin-left: 77.5%;
      }
    }
  }
  .pcard-text {
    font-size: 14px;
    &.count {
      font-family: roboto;
      color: #363636;
      font-size: 12px;
      padding: 5px;
      padding-top: 1px;
      padding-bottom: 1px;
      position: absolute;
    }
    &.coffee {
      border-color: #EE4380;
      background-color: white;
      border-style: solid;
      border-width: 1px;
      border-radius: 50%;
      left: 90%;
      top: 5px;
    }
    &.hug {
      left: 76%;
      top: 40px;
    }
  }
}

#myCarousel.carousel {
  margin-bottom: -30px;
}

div.centered {
  display: flex;
  flex-direction: row;
  text-justify: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  p.pcard-text {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}

.grayfilter {
  filter: grayscale(100%)
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 20px;
  border-style: solid;
  border-color: #EE4380;
  border-width: 2px;
  object-fit: cover;
  object-position: center right;
}

.hug-margin {
    left: 0px;
    top: 4px;
}

// margin 42
// Font Family: Roboto
// Font Style: Light
// Font Size: 14px
// Line Height: 18px
// Align: Left
